h1{
    font-weight: 700;
    font-size: 15px;
    margin: 10px;
    margin-bottom: 400px;
    background-color: aqua;

}

input{
    width:100%;
    height:40px;
}

.item-container{
    text-align: left;
}

.row{
  margin:30px;
}

.col-3{
    text-align: left;
}